---
import Layout from '~/layouts/PageLayout.astro';

import CallToAction from '~/components/widgets/CallToAction.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Content from '~/components/widgets/Content.astro';
import Button from '~/components/ui/Button.astro';
import Hero3 from '~/components/widgets/Hero3.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import PartnersList from '~/components/widgets/Partners.astro';
import { getPermalink } from '~/utils/permalinks';
import Accordion from '~/components/widgets/Accordion.astro';
import Headline from '~/components/ui/Headline.astro';

const appPreview = '~/assets/images/preview-app.png';
const appDownloadLink = getPermalink('/download');
const appLaunchLink = `https://app.hexa-lite.io`;

const onBoardingImg = '~/assets/images/onboarding.png';
const defiImg = '~/assets/images/coins-b.png';
const swapImg = '~/assets/images/swap.svg';
const liquidStakingImg = '~/assets/images/Liquid-Staking.svg';
const buyWithFiatImg = '~/assets/images/fiat-crypto.png';

const metadata = {
  title: 'Hexa Lite - Build your Wealth with Crypto Assets',
  description: 'Start investing now with a simple App that allow you to buy Crypto and earn interest.',
};
---

<Layout metadata={metadata}>
  <Fragment slot="announcement"></Fragment>

  <!-- Hero2 Widget ******************* -->

  <Hero3
    image={{
      src: appPreview,
      alt: 'Hexa Lite preview App',
      class: 'app__preview',
    }}
    actions={[
      {
        text: 'Download now',
        href: appDownloadLink,
        variant: 'primary',
      },
      {
        text: 'Learn more',
        href: '#onboard-on-defi',
      },
    ]}
  >
    <Fragment slot="title">
      <span class="text-accent dark:text-white highlight">Build your Wealth</span>
      <br />
      with Crypto Assets
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        Start investing now with a simple App that allow you to buy Crypto and earn interest.
      </span>
      Take full control of your digital assets and explore the world of decentralized finance.
    </Fragment>

    <!-- <div slot="actions" class="flex max-w-sm gap-4">
      <Button variant="link" href={appStoreDownloadLink}>
        <Image src={appStoreImg} alt="App Store Image" width={200} />
      </Button>

      <Button variant="link" href={googlePlayDownloadLink}>
        <Image src={googlePlayImg} alt="Google Play Image" width={200} />
      </Button>
    </div> -->
  </Hero3>

  <!-- Features3 Widget ************** -->

  <Features3
    id="onboard-on-defi"
    title=`Onboard on <span class="text-accent">DeFi</span>`
    subtitle="Take full controls of your digitals assets"
    classes={{
      container: 'mt-[100px] lg:pb-[0px]',
      wrapperClass: 'shader__section',
      headline: {
        title: 'text-6xl',
      },
    }}
  />

  <!-- Content Widget **************** -->

  <Content
    id="connect-to-your-wallet"
    items={[
      {
        icon: null,
        description:
          'Get started seamlessly! Connect or create <b>an account in less than a minute</b>. Whether through social login, email, or your existing wallet, our platform ensures a smooth onboarding experience. Take control of your financial path with ease.',
      },
    ]}
    image={{
      src: onBoardingImg,
      alt: 'Create or connect an account',
      class: 'onboading__image fitContent',
    }}
    callToAction={{
      text: 'Onboard now',
      href: appLaunchLink, // getPermalink('/connect-to-your-wallet'),
      target: '_blank',
    }}
    classes={{
      wrapperClass: 'shader__section',
    }}
  >
    <Fragment slot="content">
      <h3 class="underlinedColor text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Connect to your Wallet<br />
        Under a Minute
      </h3>
    </Fragment>
  </Content>

  <Content
    id="swap-between-1000-tokens"
    isReversed
    items={[
      {
        description: `
      Hexa Lite provides a flexible and lightweight interface with seamless experience for swapping multiple tokens or bridging between Bitcoin, Solana and +20 EVM-Compatible blockchain such as Ethereum, Polygon, Binance Smart Chain, Optimism, Arbitrum. 
      Always ensure to <b>get the best rates & lowest fees</b> by aggregating data from multiple decentralized exchanges and liquidity pools.
      `,
        icon: null,
      },
    ]}
    image={{
      src: swapImg,
      alt: 'Swap between +1000 tokens at best rate and lowest fees',
      class: 'swap__image fitContent',
    }}
    callToAction={{
      text: 'Swap any Token',
      href: appLaunchLink, //getPermalink('/swap-tokens'),
      target: '_blank',
    }}
    classes={{
      wrapperClass: 'shader__section',
    }}
  >
    <Fragment slot="content">
      <h3 class="underlinedColor text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Swap between +1000 tokens at best rate & lowest fees
      </h3>
    </Fragment>
  </Content>

  <Content
    id="defi-loan-markets"
    items={[
      {
        description:
          'Safely deposit your liquidity without any restrictions or censorship into DeFi protocols across more than 40 markets and 8 EVM-Compatible blockchains. <b>Earn substantial interest</b> while retaining complete control over your assets.',
        icon: null,
      },
    ]}
    image={{
      src: defiImg,
      alt: 'Deposit liquidity & earn interest',
      class: 'defi__image fitContent',
    }}
    callToAction={{
      text: 'Start Deposit',
      href: appLaunchLink, //getPermalink('/defi-loan-markets'),
      target: '_blank',
    }}
    classes={{
      wrapperClass: 'shader__section',
    }}
  >
    <Fragment slot="content">
      <h3 class="underlinedColor text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Deposit Liquidity & Earn Interest on DeFi Loan Markets
      </h3>
    </Fragment>
  </Content>

  <Content
    id="increase-income-with-liquid-staking"
    isReversed
    items={[
      {
        description: `Unlock higher earnings without locking your assets! <br/>
        Liquid Staking offers <b>attractive interest rates on your crypto</b>, keeping your funds accessible at all times. 
        It's the perfect balance of liquidity and profitability. Now it's time to maximize your returns.
        Take advantage of the staking rewards without need to lock your assets for a specific period and keep your assets liquid 
        to use them at any time or to participate in other DeFi protocols.
        `,
        icon: null,
      },
    ]}
    image={{
      src: liquidStakingImg, //'https://images.unsplash.com/photo-1576153192621-7a3be10b356e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1674&q=80',
      alt: 'Earn with Liquid Staking image',
      class: 'liquid_staking__image',
    }}
    callToAction={{
      text: 'Start Liquid Staking',
      href: appLaunchLink, // getPermalink('/liquid-staking'),
      target: '_blank',
    }}
    classes={{
      wrapperClass: 'shader__section',
    }}
  >
    <Fragment slot="content">
      <h3 class="underlinedColor text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Increase your Income with Liquid Staking
      </h3>
    </Fragment>
  </Content>

  <!-- <Content
    id="buy-crypto-with-fiat"
    items={[
      {
        description: `
          Use a simple and secure way to buy digital assets with fiat money. 
          Our platform offers a wide range of payment methods to ensure a seamless experience. 
          Get started with a few clicks and start investing in the future of finance.
        `,
        icon: null,
      },
    ]}
    image={{
      src: buyWithFiatImg, //'https://images.unsplash.com/photo-1576153192621-7a3be10b356e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1674&q=80',
      alt: 'Buy Crypto with Fiat image',
      class: 'buy_with_fiat__image m-auto',
    }}
    classes={{
      wrapperClass: 'shader__section',
    }}
    callToAction={{
      text: 'Buy Crypto with Fiat Money',
      href: appLaunchLink,
      target: '_blank',
    }}
  >
    <Fragment slot="content">
      <h3 class="underlinedColor text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Buy Crypto with Fiat Money
      </h3>
    </Fragment>
  </Content> -->

  <Content
    id="open-source-and-non-custodial"
    
    items={[
      {
        description: `
          Hexa Lite software don't store any private keys, seed phrases or sensitive data.
          You retain <b>complete control over your assets</b>, enabling direct interaction with DeFi protocols without intermediaries smart contracts or third-party services. 
          Users can access the source code on GitHub to verify the software's integrity and security.
          `,
        icon: null,
      },
    ]}
    image={`<svg xmlns="http://www.w3.org/2000/svg" class="githubImg" viewBox="0 0 512 512">
      <path
        d="M256 32C132.3 32 32 134.9 32 261.7c0 101.5 64.2 187.5 153.2 217.9a17.56 17.56 0 003.8.4c8.3 0 11.5-6.1 11.5-11.4 0-5.5-.2-19.9-.3-39.1a102.4 102.4 0 01-22.6 2.7c-43.1 0-52.9-33.5-52.9-33.5-10.2-26.5-24.9-33.6-24.9-33.6-19.5-13.7-.1-14.1 1.4-14.1h.1c22.5 2 34.3 23.8 34.3 23.8 11.2 19.6 26.2 25.1 39.6 25.1a63 63 0 0025.6-6c2-14.8 7.8-24.9 14.2-30.7-49.7-5.8-102-25.5-102-113.5 0-25.1 8.7-45.6 23-61.6-2.3-5.8-10-29.2 2.2-60.8a18.64 18.64 0 015-.5c8.1 0 26.4 3.1 56.6 24.1a208.21 208.21 0 01112.2 0c30.2-21 48.5-24.1 56.6-24.1a18.64 18.64 0 015 .5c12.2 31.6 4.5 55 2.2 60.8 14.3 16.1 23 36.6 23 61.6 0 88.2-52.4 107.6-102.3 113.3 8 7.1 15.2 21.1 15.2 42.5 0 30.7-.3 55.5-.3 63 0 5.4 3.1 11.5 11.4 11.5a19.35 19.35 0 004-.4C415.9 449.2 480 363.1 480 261.7 480 134.9 379.7 32 256 32z">
      </path>
    </svg>`}
    classes={{
      wrapperClass: 'shader__section',
    }}
    callToAction={{
      text: 'About the Teams',
      href: getPermalink('/team'),
    }}
  >
    <Fragment slot="content">
      <h3 class="underlinedColor text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Open-source & Non-Custodial
      </h3>
    </Fragment>
  </Content>

  <!-- Content Partners  ************* -->
  <PartnersList
    id="partners"
    title="Partnerships & Integrations"
    subtitle="Hexa Lite developper core team believe in the power of collaboration to drive innovation and create exceptional experiences"
  />

  <!-- Stats Widget ****************** -->

  <!-- <Stats
    title="Statistics of our app"
    stats={[
      { amount: '+30', icon: 'tabler:download',title: 'Chains' },
      { amount: '+60', icon: 'tabler:users', title: 'DeFi Markets' },
      { amount: '4.7', icon: 'tabler:user-star' },
    ]}
  /> -->

  <!-- FAQs Widget ******************* -->
  <section class="max-w-2xl mx-auto relative not-prose scroll-mt-[72px]">
    <div class="relative mx-auto max-w-7xl px-4 md:px-6 py-12 md:py-16 lg:py-20 text-default">
      <Headline
        title="Frequently Asked Questions"
        subtitle="Dive into the following questions to gain insights into the powerful features that we offers and how it can elevate your crypto investment journey."
        tagline="FAQs"
      />

      {
        [
          {
            title: 'What is Hexa Lite?',
            description:
              'Hexa Lite allow you to create or connect existing digital wallets and provide solution to buy digital assets with fiats, exchange at best rate, lend and borrow money on blockchain with DeFi protocols.',
          },
          {
            title: 'What is a digital wallet?',
            description:
              'A digital wallet is a wallet that allows you to interact with digital assets like cryptocurrencies across DeFi protocols.',
          },
          {
            title: 'What is DeFi?',
            description:
              'DeFi is an abbreviation of the phrase decentralized finance which generally refers to the digital assets and financial smart contracts, protocols, and decentralized applications built on chain.',
          },
          {
            title: 'What is a DeFi protocol?',
            description:
              'A DeFi protocol is a smart contract or a set of smart contracts that can interact with each other to perform a set of actions.',
          },
          {
            title: 'What is a smart contract?',
            description:
              'A smart contract is a computer program or a transaction protocol that is intended to automatically execute, control, or document legally relevant events and actions according to the terms of a contract or an agreement.',
          },
          {
            title: 'Why should I use DeFi?',
            description:
              'DeFi is a permissionless and censorship resistant financial system that is available to anyone with an internet connection. It is a financial system that is built on the blockchain and is not controlled by any central authority.',
          },
          {
            title: 'Why should I use Hexa Lite?',
            description:
              'Hexa Lite allow you to onboard to DeFi in a few click to earn interest on your assets, borrow money, exchange at best rate and more wihout any technical knowledge from blockchain or finance world and without any restriction or censorship.',
          },
          {
            title: 'Can I export my private key from a wallet created with Hexa Lite?',
            description:
              "Of course! Wallets on Hexa Lite are created through Magic, which enables you to export your private key at any time. You can retrieve it her <a href='https://magic.link/' target='_blank'>https://magic.link/</a>.",
          },
          {
            title: 'Can I deposit FIAT money (USD, EUR, CHF) to Hexa Lite?',
            description:
              'No. You cannot deposit and keep fiat at Hexa Lite because Hexa Lite is not a bank and does not provide any banking services. However, you can buy digital assets with FIAT money from our partners.',
          },
          {
            title: 'Can I deposit digital assets to Hexa Lite?',
            description:
              'No. Hexa Lite is not a custodian wallet and does not provide any custodian services. Hexa Lite only provides a interface to interact with DeFi protocols and your wallet from the blockchain.',
          },
          {
            title: 'Can I use my wallet created with Hexa Lite on other platforms?',
            description:
              'Yes. When you create a wallet with Hexa Lite, you are creating a wallet on the blockchain. You can use this wallet on any other platform that supports the same blockchain.',
          },
          {
            title: 'Which networks are supported?',
            description:
              'Hexa Lite currently supports all majors EVM network, Solana and Bitcoin. You can get your wallet address for each networks by clicking on the authenticate badge on the top right corner of the screen.',
          },
          {
            title: 'What are the fees for swapping?',
            description:
              "Hexa Lite charge 1% fees for swapping. However, the protocols that we integrate with may charge a fee for swapping and on-chain gas fees are applicable according to each network. That's why you have to get some ETH to pay for gas fees on Ethereum network and majors EVM network.",
          },
          {
            title: 'How pay on-chain transaction fees?',
            description:
              'On-chain transactions fees are paid in the native currency of the network. For example, on Ethereum network, you have to pay gas fees in ETH. On Solana network, you have to pay gas fees in SOL. On Bitcoin network, you have to pay gas fees in BTC. Keep in mind that you have to get some native token to pay for gas fees on each network that you use. <br/>By default, Hexa Lite set network to Optimism which is a layer 2 solution on Ethereum network that use ETH to pay fees. You can change network by clicking on the authenticate badge on the top right corner of the screen.',
          },
          {
            title: 'Who is behind Hexa Lite?',
            description:
              "Hexa Lite is an open-source software developed by HexaOne Labs, a swiss based developpers organization that work on blockchain and DeFi technologies. You can learn more about HexaOne Labs here <a href='https://hexaonelabs.com' target='_blank'>https://hexaonelabs.com</a>.",
          },
        ].map((e) => <Accordion title={e.title} details={e.description} />)
      }
    </div>
  </section>
  <script>
    function accordionSetup() {
      const accordionMenus = document.querySelectorAll('.accordion') as NodeListOf<HTMLElement>;
      accordionMenus.forEach((accordionMenu) => {
        const accordionButton = accordionMenu.querySelector('.accordion__button') as HTMLElement;
        const accordionChevron = accordionMenu.querySelector('.accordion__chevron') as HTMLElement;
        const accordionContent = accordionMenu.querySelector('.accordion__content') as HTMLElement;

        if (accordionButton && accordionContent && accordionChevron) {
          accordionButton.addEventListener('click', (event) => {
            if (!accordionMenu.classList.contains('active')) {
              // if accordion is currently closed, so open it
              accordionMenu.classList.add('active');
              accordionButton.setAttribute('aria-expanded', 'true');

              // set max-height to the height of the accordion content
              // this makes it animate properly
              accordionContent.classList.remove('hidden');
              accordionContent.style.maxHeight = accordionContent.scrollHeight + 'px';
              accordionChevron.classList.add('rotate-180');
            } else {
              // accordion is currently open, so close it
              accordionMenu.classList.remove('active');
              accordionButton.setAttribute('aria-expanded', 'false');

              // set max-height to the height of the accordion content
              // this makes it animate properly
              accordionContent.style.maxHeight = '0px';
              accordionChevron.classList.remove('rotate-180');
              // delay to allow close animation
              setTimeout(() => {
                accordionContent.classList.add('hidden');
              }, 300);
            }
            event.preventDefault();
            return false;
          });
        }
      });
    }

    // runs on initial page load
    accordionSetup();

    // runs on view transitions navigation
    document.addEventListener('astro:after-swap', accordionSetup);
  </script>
  <!-- BlogLatestPost Widget **************** -->

  <BlogLatestPosts
    id="blog"
    title="Explore Latest Articles"
    information={`We're building an open financial system for everyone. Discover the latest news, updates, and insights to stay informed on your crypto journey.`}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg__shader"></div>
    </Fragment>
  </BlogLatestPosts>
  <!-- CallToAction Widget *********** -->

  <CallToAction id="download" title="Install Hexa Lite now!" subtitle="Start your journey to financial freedom today.">
    <div slot="actions" class="flex max-w-sm gap-4">
      <Button variant="primary" href={appDownloadLink}> Download App </Button>
    </div>
  </CallToAction>
</Layout>

<script>
  const callback = function (entries) {
  entries.forEach((entry) => {
    // console.log(entry);
    if (entry.isIntersecting) {
      entry.target.classList.add("animate-fadeIn");
    } else {
      entry.target.classList.remove("animate-fadeIn");
    }
  });
};

const observer = new IntersectionObserver(callback);

const targets = document.querySelectorAll(".relative.max-w-4xl img");
targets.forEach(function (target) {
  target.classList.add("opacity-0");
  observer.observe(target);
});
</script>